body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location-input {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
}

.search-btn {
    width: 100%;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.location-btn {
    width: 100%;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.weather-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#location {
    font-size: 24px;
    font-weight: bold;
}

#temperature, #wind, #humidity {
    font-size: 18px;
    color: #da1f1f;
}